<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get awesome news from Alex in your inbox. Be the first to hear about new learning opportunities.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Kaldi</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Services</a></li>
					<li><a href="/values" class="link">Values</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Natl. Suicide Prevention Lifeline</h3>
				<ul class="mb3">
					<li><a href="https://suicidepreventionlifeline.org/" class="link">24/7 Free & Confidential Support </a></li>
					<li><a href="tel:1-800-273-8255" class="contact-number contact-number--banner">1-800-273-8255</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" ("https://twitter.com/MrAlexBeardCo" "svg" "icons-twitter") }}
					{{ partial "social-icon" ("<a href="www.instagram.com/mralexbeardconsulting/>" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
